html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* overflow-x: hidden; TODO: Не помню зачем, пока закомментирую */
  font: var(--main-text);
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-variant-numeric: lining-nums;
  color: var(--main-text-color);
  background: var(--main-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

/* .prohibit-scrolling {
  overflow: hidden;
} */
